.header {
    font-family: 'Jost', sans-serif;
    background-color: hwb(240 1% 99%);
    position: relative;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 77px;

    &--big {
        min-height: 568px;
        background-image: url(./../images/header/background-mob.png);
        background-position: 50%;
        background-repeat: no-repeat;
        @include minW375 {
            background-image: url(./../images/header/video.png)
        }
    }

    

    

    @include minW1440 {
        min-height: 832px;
    }

    @include minW1592 {
        background-size: cover;
    }


    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 224px;
        background: linear-gradient(rgba(2, 2, 3, 0.72), rgba(2, 2, 3, 0) 40%);

        @include minW1440 {
            background: linear-gradient(180deg, rgba(2, 2, 3, 0.72) 0%, rgba(2, 2, 3, 0) 100%);
        }
    }

    &__top {
        font-weight: 500;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1.1px;
        padding: 0 20px;
        border-bottom: 1px solid rgba(199, 161, 122, 0.2);

        @include minW1440 {
            height: 89px;
            border: none;
            padding: 0;
        }

        &--min{
            background-color: var(--color-bg-light-accent);
            margin-bottom: 16px;
            @include minW1440{
                background-color: #fff;
                
            }
        }
    }

    &__leftwrap,
    &__rightwrap {

        @include minW1440 {
            display: flex;
            align-items: center;
            height: 100%;
            width: 42%;
            border-bottom: 1px solid rgba(199, 161, 122, 0.2);
        }

    }

    &__leftwrap{
        @include minW1440{
            padding: 0 0 0 48px;
        }
    }
    &__rightwrap{
        @include minW1440{
            padding: 0 48px 0 0;
        }
    }
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 13px;

        @include minW1440 {
            width: 160px;
            height: 126px;
            top: 20px;
            background: url(./../images/header/logo-kn-21.png) no-repeat;
        }
    }

    &__logoText {
        font-weight: 500;
        &--big{
            color: var(--color-text-light);
        }
        &--min{
            color: var(--color-text-dark);
        }
        @include minW1440 {
            display: none;
        }
        
    }

    &__burgerBtn {
        margin-right: 48px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 50%;

        &--burger {
            background-image: url(./../images/header/burgerVector.svg);
        }

        &--crosse {
            background-image: url(./../images/header/Crosse.svg);
        }
    }

    &__bagBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 38px;


        @include minW1592 {
            margin-left: 48px;
        }

        @include minW1440 {
            position: relative;

            &:hover {

                .header__bagLink {
                    color: var(--color-accent);
                }


                &.header__bagBtn:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    bottom: -31px;
                    width: 100%;
                    height: 0;
                    height: 1px;
                    background-color: rgba(199, 161, 122, 0.9);
                }
            }
        }
    }



    &__bagB {
        position: relative;
        display: block;

    }

    &__bagSvg {
        width: 24px;
        height: 24px;
    }

    &__bagLink {
        display: none;
        &--min{
            color: var(--color-text-dark);
        }
        @include minW1440 {
            display: inline-block;
            margin-left: 8px;
        }

    }

    &__bagNum {
        display: none;

        @include minW1440 {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-accent);
            margin-left: 6px;

            &::before {
                margin-right: 6px;
                display: block;
                content: ' ';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: var(--color-accent);
            }
        }
    }


    &__navList {
        display: none;
        flex-grow: 2;

        @include minW1440 {
            display: flex;
            flex-direction: row;
        }
        &--min a{
            color: var(--color-text-dark);
        }
    }

    &__navItem {
        position: relative;

        margin-right: 20px;

        @include minW1592 {
            margin-right: 32px;
        }

        &::after {
            background-color: rgba(199, 161, 122, 0);
            transition: all 0.4s ease-in;
        }

        &:hover {
            a {
                color: var(--color-accent);
            }

            &.header__navItem:after {
                position: absolute;
                display: block;
                content: ' ';
                bottom: -37px;
                width: 100%;
                height: 0;
                height: 1px;
                background-color: rgba(199, 161, 122, 0.9);
            }


        }

    }




    &__contact {
        display: none;
        flex-grow: 2;
        justify-content: end;


        @include minW1440 {
            display: block;
        }
    }

    &__contList {
        display: flex;
        justify-content: end;
        &--min a{
            color: var(--color-text-dark);
        }
    }

    &__contItem {
        position: relative;
        margin-left: 20px;

        @include minW1592 {
            margin-left: 48px;
        }

        &:hover {
            a {
                color: var(--color-accent);
            }

            &.header__contItem:after {
                position: absolute;
                display: block;
                content: ' ';
                bottom: -37px;
                width: 100%;
                height: 0;
                height: 1px;
                background-color: rgba(199, 161, 122, 0.9);
            }

        }
    }

    // ----------------------меню выпадающее-------------------------------------

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 220px 20px;
        background-color: var(--color-accent-dark);
        display: flex;
        justify-content: center;
        font-size: 18px;
        line-height: 32px;

        &--visible {
            display: flex;
        }

        &--hidden {
            display: none;
        }
    }

    &__menuListwrap {
        width: 1216px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menuPod {
        flex-basis: 176px;
        margin-bottom: 28px;
    }

    &__menuPod li {
        list-style-position: inside;





        &:first-child {
            font-size: 32px;
            line-height: 40px;
            font-family: 'NewBaskervilleC', serif;
            margin-bottom: 20px;
        }

    }

    &__menuPodLink {
        position: relative;
        color: var(--color-text-gray);

        &::after {

            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: ' ';
            width: 0;
            height: 1px;
            background-color: var(--color-accent);
            opacity: 1;
            transition: all 0.2s ease-in;

        }

        &:hover {
            color: var(--color-accent);

            &.header__menuPodLink:after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }

    &__menuPod li:first-child a {
        color: var(--color-text-light);
    }





    //---------------------------------------------------------------------------









    &__banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 18px;
        flex-grow: 3;

        @include minW1440 {
            padding-top: 190px;
        }
    }

    &__minilogo {
        @include minW1440 {
            display: none;
        }
    }

    &__slogo {
        display: none;
        max-width: 800px;
        height: 0;
        flex-direction: column;
        align-items: center;

        @include minW1440 {
            display: flex;
            height: auto;
        }
    }

    &__title {
        display: none;
        font-family: 'NewBaskervilleC', serif;
        font-size: 72px;
        line-height: 80px;
        letter-spacing: 3px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;

        @include minW1440 {
            display: block;
        }
    }

    &__slogoText {
        display: none;
        font-size: 24px;
        line-height: 32px;
        max-width: 486px;
        text-align: center;

        @include minW1440 {
            display: block;
        }
    }

    &__button {
        @include minW1440 {
            display: none;
        }
    }





}