.header {
    font-family: 'Jost', sans-serif;
    background-color: hwb(240 1% 99%);
    position: relative;
    background-image: url(./../../images/header/background-mob.png);
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 568px;
    padding: 0 20px;

    @include minW375{
        background-image: url(./../../images/header/video.png)
    }

    &__shadow{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 224px;
        background: linear-gradient(rgba(2, 2, 3, 0.72), rgba(2, 2, 3, 0) 40%);
    }
    &__top {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        @include minW1440{
            height: 89px;
        } 
    }

    &__hr{
        position: absolute;
        top: 49px;
        left: 0;
        height: 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(199, 161, 122, 0.2);

        @include minW1440 {
            display: none;
        }
    }

    &__topText {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 13px;
    }

    &__burgerBtn{
        margin-right: 48px;
    }
    &__burgerSvg{
        width: 24px;
        height: 24px;
    }
    &__bagBtn{
        margin-left: 48px;
    }
    &__bagSvg{
        width: 24px;
        height: 24px;
        
    }

    &__navList{
        display: none;  
        flex-grow: 2;
        @include minW1440 {
            display: flex;
            flex-direction: row;
        }
    }
    &__navItem{
        margin-right: 32px;
    }

    &__contact{
        display: none;
        flex-grow: 2;
        justify-content: end;
        @include minW1440 {
            display: flex;
        }
    }
    &__order{
        margin-left: 48px;
    }


}