.menu {
    background-color: var(--color-accent-dark);
    padding: 32px 0;

    &__wrap {
        padding: 0 20px ;
        display: grid;
        grid-template-areas: "img"
            "revu"
            "watch";
        grid-template-rows: auto;

        @include minW768 {
            grid-template-areas: "img revu"
                "watch watch";
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }

        @include minW1024 {
            grid-template-areas:    "img revu"
                                    "img watch";
            padding: 0 20px 0 0;
            
        }

        @include minW1440{
            column-gap: 64px;
        }
    }

    &__image {
        grid-area: img;
        height: 224px;
        background: url(./../images/menu/img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        margin-bottom: 28px;
        border-radius: 16px;

        @include minW375 {
            background: url(./../images/menu/imgmenu.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 70%;
        }

        @include minW768{
            height: auto;
        }
        @include minW1024 {
            border-radius: 0 16px 16px 0;
        }
    }

    &__revu {
        grid-area: revu;
        margin-bottom: 31px;

        @include minW1024{
            max-width: 560px;
        }
    }



    &__title {
        margin-bottom: 25px;
    }

    &__text {
        line-height: 26px;
        margin-bottom: 16px;
        color: var(--color-text-gray);
    }



    &__watchMenu {
        grid-area: watch;
        @include minW1024{
            max-width: 560px;
        }
    }

    &__watchItem {
        border-top: 1px solid #262424;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include minW768 {
            align-items: flex-start;
        }
    }

    &__rev {
        flex-basis: 170px;

        @include minW768 {
            flex-grow: 2;
            position: relative;
        }

    }

    &__name {
        padding-bottom: 9px;
    }

    &__fullname {
        line-height: 24px;
        color: var(--color-text-gray);

        @include minW768 {
            position: absolute;
            left: 40%;
            top: 0;
        }
        @include minW1024{
            max-width: 214px;
        }
    }
}