@font-face {
 font-family: "Newbaskervillectt", sans-serif;
 src: local("Newbaskervillectt"),
      url("../../fonts/Newbaskervillectt.woff2") format("woff2"),
      url("../../fonts/Newbaskervillectt.woff") format("woff");
 font-style: normal;
 font-weight: 400;
 font-display: swap;
}