body {
 font-family: 'Jost', sans-serif;
}

.title {
 @extend %newbaskervillec-400;
}

.text {
 @include text(16px, 1.6, $accentColor);
}

.link {
 background-color: #C7A17A;
 border: 1px solid $bgColor;
 border-radius: 8px;
 width: 100%;
 padding: 14px 0;
 display: block;
 text-align: center;
 transition: all 0.5s;
  &:hover {
   background-color: $bgColor;
   color:#C7A17A;
   border: 1px solid #C7A17A;
  }
  @media (min-width: 576px) {
   padding: 14px 20px;
   display: inline;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

}


@media (min-width: 1024px) {
  .container {
    padding: 0 48px;
  }
}
@media (min-width: 1400px) {
  .container {
    padding: 0;
  }
}
