* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: var(--color-text-light);
    font-size: px-to-rem(16);
    line-height: px-to-rem(19);
}

h2{
    font-size: px-to-rem(36);
    font-weight: 700;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.font-lighter{
    font-weight: 400;
}
.text-accent{
    color: var(--color-accent);
}



