.footer {
	padding: 29px 20px;
	background-color: #020203;

	&__confidentiality {
		span {
			@extend %price-text;
			color: #A7A7A7;
			display: block;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		margin-top: 16px;
		margin-bottom: 20px;

		span {
			@extend %footer-social;
			margin-left: 12.5px;
		}

		a {
			display: flex;
			align-items: center;
			padding: 12.5px;
			border: 1px solid #262424;
			border-radius: 50%;
			width: 48px;
			height: 48px;
			justify-content: center;
		}

		li {
			margin-right: 8px
		}

		li:last-child {
			margin-left: 12px;
		}

		li:last-child a {
			width: auto;
			height: auto;
			border-radius: 24px;
		}
	}

	&__list {
		border-top: 1px solid #262424;
		padding: 6px 0 16px;
		margin-top: 13px;
	}

	&__link {
		margin-top: 10px;
		font-family: 'Jost';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #C7A17A;
	}

	&__hours {
		font-family: Jost;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		color: #fff;
	}


	&__list:first-child {
		margin-top: 33px;
	}

	&__list:last-child {
		border-bottom: 1px solid #262424;
	}

	&__map {
		display: none;
	}

}

.footer .banquets__title {
	color: #fff;
}

.footer .banquets__hours {
	color: #fff;
}


@media (min-width:425px) {
	.footer {
		&__confidentiality {
			text-align: center;
		}

		&__social {
			justify-content: center;

			a {
				padding: 15px;
				width: auto;
				height: auto;
			}
		}
	}

}


@media (min-width: 768px) {
	.footer {
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-between;

	}
}

@media (min-width: 1592px) {
	.footer {
		&__social {
			li:last-child {
				display: none;
			}
		}

		&__list:first-child {
			margin-top: 50px;
		}

		&__confidentiality {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__social {
			justify-content: flex-start;
			margin-bottom: 30px;

			li a {
				width: 48px;
				height: 48px;
			}
		}

		.banquets__title {
			letter-spacing: 3px;
			font-size: 47px;
			margin-top: -3px;
		}

		display: flex;
		padding: 80px 188px;
		margin-top: 80px;
		text-align: left;

		&__list {
			max-width: 560px;
		}

		&__map {
			display: block;
			width: 592px;
			border-radius: 16px;
			margin-bottom: 32px;
		}
	}
}