.footer {
	background-color: #020203;
	&__inner{
		padding: 32px 0;
		display: flex;
		flex-direction: column;
		align-items:center;
	}

	&__confidentiality {
		@extend %price-text;
		color: #A7A7A7;
		display: block;
		text-align: center;
	}

	&__social {
		display: flex;
		align-items: center;
		margin-top: 16px;
		margin-bottom: 20px;

		span {
			@extend %footer-social;
			margin-left: 12.5px;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			max-width: 150px;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		li {
			margin-right: 8px
		}

		li:last-child a {
			width: auto;
			height: auto;
		}
	}

	&__list {
		border-top: 1px solid #262424;
		padding: 6px 0 16px;
		margin-top: 13px;
	}

	&__link {
		margin-top: 10px;
		font-family: 'Jost';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #C7A17A;
	}

	&__hours {
		font-family: Jost;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		color: #fff;
	}

	&__list:first-child {
		margin-top: 33px;
	}

	&__list:last-child {
		border-bottom: 1px solid #262424;
	}

	&__map {
		display: none;
	}

}

.footer .banquets__title {
	color: #fff;
}

.footer .banquets__hours {
	color: #fff;
}


@media (min-width:425px) {
	.footer {
		&__confidentiality {
			text-align: center;
		}

		&__social {
			justify-content: center;
		}
	}

}

@media (min-width: 1024px) {
	.footer {
		&__inner{
			padding: 80px 0;
			flex-direction: row;
			align-items: flex-start;
		}
		&__contacts{
			width: 50%;
			margin-right: 64px;
			.footer__confidentiality {
				text-align: left;
				margin-top: 32px;
			}
		}
		&__social {
			justify-content: flex-start;
			li:last-child {
				display: none;
			}
		}
		&__map-wrap{
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
			.footer__confidentiality {
				text-align: right;
				margin-top: 32px;
			}
		}
		&__map {
			display: flex;
			justify-content: flex-end;
			iframe{
				width: 100%;
				height: 455px;
			border-radius: 16px;
			}
		}
		&__confidentiality{
			text-align-last: left;
		}

	}
	
}

@media (min-width: 1592px) {
	.footer {

		&__list:first-child {
			margin-top: 50px;
		}

		&__social {
			justify-content: flex-start;
			margin-bottom: 30px;

			li a {
				width: 48px;
				height: 48px;
			}
		}
		&__map {
			iframe{
				height: 455px;
			}
		}

		.banquets__title {
			letter-spacing: 3px;
			font-size: 47px;
			margin-top: -3px;
		}

		

		&__list {
			max-width: 560px;
		}

		
	}
}