.header {


    &__top {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1.1px;
        padding: 0 20px;
        border-bottom: 1px solid rgba(199, 161, 122, 0.2);

        @include minW1440 {
            height: 89px;
            border: none;
            padding: 0;
        }
    }

    &__leftwrap,
    &__rightwrap {


        @include minW1440 {
            display: flex;
            align-items: center;
            height: 100%;
            width: 42%;
            border-bottom: 1px solid rgba(199, 161, 122, 0.2);
            padding: 0 48px;
        }

    }



    &__logoText {
        @include minW1440 {
            display: none;
        }
    }

    &__burger {
        margin-right: 48px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 50%;

        &--open {
            background-image: url(./../images/header/burgerVector.svg);
        }

        &--crosse {
            background-image: url(./../images/header/Crosse.svg);
        }
    }

    &__bagBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 38px;


        @include minW1592 {
            margin-left: 48px;
        }

        @include minW1440 {
            position: relative;

            &:hover {

                .header__bagLink {
                    color: var(--color-accent);
                }


                &.header__bagBtn:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    bottom: -30px;
                    width: 100%;
                    height: 0;
                    height: 1px;
                    background-color: rgba(199, 161, 122, 0.9);
                }
            }
        }
    }



    &__bagB {
        position: relative;
        display: block;

    }

    &__bagSvg {
        width: 24px;
        height: 24px;
    }

    &__bagLink {
        display: none;

        @include minW1440 {
            display: inline-block;
            margin-left: 8px;
        }

    }

    &__bagNum {
        display: none;

        @include minW1440 {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-accent);
            margin-left: 6px;

            &::before {
                margin-right: 6px;
                display: block;
                content: ' ';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: var(--color-accent);
            }
        }
    }


    &__navList {
        display: none;
        flex-grow: 2;

        @include minW1440 {
            display: flex;
            flex-direction: row;
        }
    }

    &__navItem {
        position: relative;

        margin-right: 20px;

        @include minW1592 {
            margin-right: 32px;
        }

        &::after {
            background-color: rgba(199, 161, 122, 0);
            transition: all 0.4s ease-in;
        }

        &:hover {
            a {
                color: var(--color-accent);
            }

            &.header__navItem:after {
                position: absolute;
                display: block;
                content: ' ';
                bottom: -35px;
                width: 100%;
                height: 0;
                height: 1px;
                background-color: rgba(199, 161, 122, 0.9);
            }


        }

    }




    &__contact {
        display: none;
        flex-grow: 2;
        justify-content: end;


        @include minW1440 {
            display: block;
        }
    }

    &__contList {
        display: flex;
        justify-content: end;
    }

    &__contItem {
        position: relative;
        margin-left: 20px;

        @include minW1592 {
            margin-left: 48px;
        }

        &:hover {
            a {
                color: var(--color-accent);
            }

            &.header__contItem:after {
                position: absolute;
                display: block;
                content: ' ';
                bottom: -35px;
                width: 100%;
                height: 0;
                height: 1px;
                background-color: rgba(199, 161, 122, 0.9);
            }

        }
    }

    // ----------------------меню выпадающее-------------------------------------

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 220px 20px;
        background-color: var(--color-accent-dark);
        display: flex;
        justify-content: center;
        font-size: 18px;
        line-height: 32px;

        &--visible {
            display: flex;
        }

        &--hidden {
            display: none;
        }
    }

    &__menuListwrap {
        width: 1216px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menuPod {
        flex-basis: 176px;
        margin-bottom: 28px;
    }

    &__menuPod li {
        list-style-position: inside;





        &:first-child {
            font-size: 32px;
            line-height: 40px;
            font-family: 'NewBaskervilleC', serif;
            margin-bottom: 20px;
        }

    }

    &__menuPodLink {
        position: relative;
        color: var(--color-text-gray);

        &::after {

            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: ' ';
            width: 0;
            height: 1px;
            background-color: var(--color-accent);
            opacity: 1;
            transition: all 0.2s ease-in;

        }

        &:hover {
            color: var(--color-accent);

            &.header__menuPodLink:after {
                width: 100%;
                left: 0;
                opacity: 1;
            }
        }
    }

    &__menuPod li:first-child a {
        color: var(--color-text-light);
    }

}

.header {
    position: sticky;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;


    font-family: 'Jost';

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;


    color: $textColor;

    &:hover {
        color: $textColorActive;
    }



    @media (min-width:1000px) {
        .container {
            padding: 0 48px;
            max-width: 100%;
        }
    }



    // .header__inner
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    // .header__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);


    }

    // .header__block
    &__block {
        display: flex;
        align-items: center;
        gap: 48px;

        @media (min-width:1000px) {
            margin-right: 270px;
        }
    }

    // .header__nav
    &__nav {
        display: none;

        @media (min-width:1000px) {
            display: flex;

        }
    }

    // .header__list
    &__list {}

    // .header__item
    &__item {}

    // .header__link
    &__link {}

    // .header__order
    &__order {
        @media (min-width:1000px) {
            display: none;
        }
    }

    // .header__contacts
    &__contacts {}

    // .header__basket
    &__basket {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width:1000px) {
            gap: 8px;
        }

    }

    // .header__basket-link
    &__basket-link {}

    // .header__basket-img
    &__basket-img {
        width: 24px;
        height: 24px;
    }



    // .header__basket-name
    &__basket-name {
        display: none;

        @media (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



    // .header__counter
    &__counter {
        display: none;

        @media (min-width:1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // .header__logo
    &__logo {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            @include background (url("./../img/header/logo-mob.svg"));
            width: 163px;
            height: 32px;

            @media (min-width:1000px) {
                @include background (url("./../img/header/logo.svg"));
                width: 160px;
                height: 125px;
                position: relative;
                top: -20px;
            }
        }
    }



}


.nav {

    // .nav__list
    &__list {

        display: flex;
        align-items: center;
        gap: 32px;

        @media (max-width:768px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #170337;
            flex-direction: column;
            justify-content: center;
            transition: left 0.3s ease 0s;
            z-index: 10;

            .menu-open & {
                left: 0;
            }

        }
    }

    // .nav__item
    &__item {
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }

    // .nav__link
    &__link {


        transition: color 0.3s ease 0s;


        &:hover {
            color: $textColorActive;
        }
    }
}





.contacts {
    display: none;

    @media (min-width:1000px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .contacts__list
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }

    // .contacts__item
    &__item {}

    // .contacts__tel
    &__tel {}

    // .contacts__reserve
    &__reserve {}
}

//====================================================================================================

//Burger

.icon-menu {
    width: 24px;
    height: 24px;
    padding: 6px 2px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 15;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #C7A17A;
            border-radius: 1px;
        }

        &::before {
            top: 0px;
        }

        &::after {
            bottom: 0px;
        }

        span {
            top: calc(50% - 1px);
        }

        .nav-open & {
            span {
                transform: scale(0);
            }

            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }

            &::after {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
            }
        }
    }
}



.scrolled {}