@mixin text($fontSize, $lineHeight, $color) {
 font-size: $fontSize;
 line-height: $lineHeight;
 color: $color;
}


@mixin pseudo($display: block, $pos: absolute, $content: '') {
 content: $content;
 display: $display;
 position: $pos;
}   