// Colors

$textColor: #010103;
$textColorTitle: #fff;
$textColorMain: #fff;
$textColorSubtitle: #D8DBEC;
$textColorActive: #C7A17A;
$textColorGray: #A7A7A7;
$textColorGallery: #503D3B;

$bgColor: #FAF5F0;
$bgColorDropDown: #020203;
$bgColorBtn: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
$textColorBtn: #fff;

//color
$colorTextLight: #fff;
$colorTextGray: #A7A7A7;
$colorTextDark: #000;
$colorTextAccent: #C7A17A;
// colortheme
$colorAccent: #C7A17A;
$colorAccentDark: #020203;
// $colorAccentDarkSecond: #262626;
// $colorAccentDarkLight: #D1D7ED;
// $colorAccentDarkLight2: #D1D7EC;




//colorBG
$colorBGDarck: #13131A;
$colorDecor: #262424;



//colortheme2


:root {
	--color-text-light: #{$colorTextLight};
	--color-text-gray: #{$colorTextGray};
	--color-text-dark: #{$colorTextDark};
	--color-text-accent: #{$colorTextAccent};
	--color-accent: #{$colorAccent};
	--color-accent-dark: #{$colorAccentDark};
	--color-bg-dark: #{$colorBGDarck};
	--color-decor: #{$colorDecor};
	// --color-accent-dark-second: #{$colorAccentDarkSecond}; 
	// --color-accent-dark-light: #{$colorAccentDarkLight};
	// --color-accent-dark-light2: #{$colorAccentDarkLight2}; 
}