.topMenu {
 margin-top: 0;
}

.active {
 display: none;
}



.events {
 padding: 20px 20px 0;

 &__title {

  margin-bottom: 20px;
  @extend %title-text;
 }

 &__titleBlock {
  max-width: 330px;
  width: 100%;
 }

 &__menu {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E0E0;

 }

 &__list {
  margin-right: 24px;
  position: relative;

 }

 &__list:last-child {
  margin-right: 0;
 }


 &__list:first-child::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #C7A17A;
  bottom: -17.5px;
  left: 0
 }

 &__link {
  @extend %solutionBtns-text;
  color: #808080;
 }

 &__list:first-child a {
  color: #C7A17A;
 }

 @import"eventsItem";
 @import "eventscontrol";

 &__coins {
  display: none;
 }

 &__coins::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #010103;
  border-right: 1px solid #010103;
  transform: rotate(45deg);
  right: 0;
  top: 37%;

 }
}

.control__block {
 position: relative;
}

@media (min-width: 768px) {
 .events {

  &__btnControl {
   width: 600px;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
 }
}

@media (min-width: 1024px) {
 .events {
  &__btnControl {
   width: 900px;
  }
 }
}

@media (min-width: 1440px) {
 .events {

  &__title {
   font-size: 64px;
   line-height: 72px;
  }

  &__btnControl {
   width: 1216px;
  }
 }
}

@media (min-width: 1592px) {
 .active {
  display: block;
 }

 .block {
  display: none;
 }

 .events {
  padding: 69px 188px;
  align-items: flex-start;

 

  &__time {
   max-width: 180px;
  }

  &__stockText {
   display: flex;
   flex-direction: row;
  }

  &__btn {
   margin-top: 32px;
  }

  &__title {
   margin-bottom: 39px;
  }

  &__titleDesc {
   margin-top: 31px;
  }

  &__button {
   padding: 14px 30px;
  }

  .control__block {
   display: flex;
   max-width: 1592px;
   width: 100%;
   align-items: center;
   justify-content: space-between;
  }

  &__coins {
   display: inline-block;
   margin-right: 20px;
   color: #010103;
   font-family: 'Jost';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
  }

  &__btnControl {
   width: 1216px;
  }

  &__img {
   margin-top: 32px;
  }

  &__date:first-child::after {
   margin-left: 5px;
  }

  &__description {
   margin-right: 32px;
  }

  .last {
   max-width: 630px;

   span {
    max-width: 630px;
   }
  }



  &__item {
   display: flex;
   align-items: flex-start;
   justify-content: center;

  }

  &__item:nth-child(2) {
   display: none;
  }

  &__stockBlock {
   margin-right: 32px;
   width: 177px;
  }

  &__img {
   margin-right: 32px;
  }

  &__date {
   width: 177px;
   margin-right: 32px;
   margin-top: 32px;


  }


 }
}