.footer {
	padding: 29px 20px;
	background-color: #020203;


	&__list {
		border-top: 1px solid #262424;
		padding: 6px 0 16px;
		margin-top: 13px;
	}

	&__list:first-child {
		margin-top: 33px;
	}

	&__list:last-child {
		border-bottom: 1px solid #262424;
	}

	&__map {
		display: none;
	}

	@import 'footer-contacts';
	@import 'footer-social';
	@import 'footer-confidentiality';
}

.footer .banquets__title {
	color: #fff;
}

.footer .banquets__hours {
	color: #fff;
}

@media (min-width: 768px) {
	.footer {
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-between;

	}
}

@media (min-width: 1592px) {
	.footer {
		&__social{
			li:last-child{
				display: none;
			}
		}
		&__list:first-child {
			margin-top: 50px;
		}

		.banquets__title {
			letter-spacing: 3px;
			font-size: 47px;
			margin-top: -3px;
		}

		display: flex;
		padding: 80px 188px;
		margin-top: 80px;
		text-align: left;

		&__list {
			max-width: 560px;
		}

		&__map {
			display: block;
			width: 592px;
			border-radius: 16px;
			margin-bottom: 32px;
		}
	}
}