.button{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-text-light);
    background-color: var(--color-accent);
    padding: 14px 20px;
    border: 2px solid var(--color-accent);
    border-radius: 8px;
    @include transition-time(2);
    &:hover{
        color: var(--color-text-dark);
        background-color: var(--color-text-light);
    }
    &:active{
        background-color: hsl(0, 0%, 80%);
        color: var(--color-text-dark);
    }
}