&__confidentiality {
    span {
        @extend %price-text;
        color:#A7A7A7;
        display: block;
    }
}
@media (min-width:425px) {
	&__confidentiality{
        text-align: center;
    }
}
@media (min-width:1592px) {
	&__confidentiality{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}