&__social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 20px;

    span {
        @extend %footer-social;
        margin-left: 12.5px;
    }

    a {
        display: flex;
        align-items: center;
        padding: 12.5px;
        border: 1px solid #262424;
        border-radius: 24px;
        width: 48px;
        height: 48px;
        justify-content: center;
    }

    li:last-child a {
        width: auto;
        height: auto;
    }
}

&__svg {
    display: flex;
    align-items: center;
}