&__title {
    max-width: 330px;
    margin-bottom: 20px;
    @extend %title-text;

}

@media (min-width: 768px) {
    &__title {
        max-width: 100%;
        width: 100%;
    }

    .events {
        .banquets__title {
            max-width: 290px;
        }
    }

}

@media (min-width: 1592px) {
    &__title {
        font-size: 40px;
        line-height: 48px;
    }
}