$accentColor: #503D3B;
$titleColor: #010103;
$bgColor: #FFF;

$breakpoints: (
 sm: 576px,
 md: 768px,
 lg: 1024px,
 xl: 1440px,
 xxl: 1600px
);

%container {
 max-width: 1250px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px; 
 @media screen and (min-width: 576px) {
  padding: 0 35px;
 }
 @media screen and (min-width: 768px) {
  padding: 0 25px;
 }
 @media screen and (min-width: 1280px) {
  padding: 0 20px;
 }
}

%newbaskervillec-400 {
 font-family: "NewBaskervilleCTT";
 font-weight: 400;
}